<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProxyDevFeeClaymore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProxyDevFeeClaymore.Properties.Settings>
            <setting name="ListenPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="PoolHost" serializeAs="String">
                <value />
            </setting>
            <setting name="PoolPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WalletAddress" serializeAs="String">
                <value />
            </setting>
        </ProxyDevFeeClaymore.Properties.Settings>
    </userSettings>
</configuration>