<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\error\" />
      <appendToFile value="true" />
      <filter type="log4net.Filter.LevelMatchFilter">

        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <rollingStyle value="Date" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
      <file value="logs\info\" />
      <appendToFile value="true" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelMin value="INFO"/>
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <rollingStyle value="Date" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppenderWarn" type="log4net.Appender.RollingFileAppender">
      <file value="logs\warn\" />
      <appendToFile value="true" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <rollingStyle value="Date" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="RollingLogFileAppenderInfo" />
      <appender-ref ref="RollingLogFileAppenderWarn" />
    </root>
  </log4net>
</configuration>
